* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    
}
html * {cursor:none!important}
.container{
    background: rgb(56,10,185);
    background: linear-gradient(90deg, rgba(56,10,185,1) 0%, rgba(0,0,0,1) 25%, rgba(13,52,128,1) 91%);
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:rgba(0, 0, 0, .5);
}

.nav-item {
    padding: .5rem;
    color: white;
}


.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
    font-size: 2vh;

}
.signup-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, .3);
    backdrop-filter: blur(15px);
    box-shadow: -5px 5px rgba(0, 0, 0, .8);
    border-radius: 25px;
    padding: 2rem;
    height: 40vh;
    width: 30vw;
    align-items: center;
}
.signup-container-middle li{
    opacity: .5;
}

.signup-container-bottom{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.security-input{
    display: flex;
    padding: .5rem;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 15px;
    margin: .5rem;
}
label{
    font-size: 1.5vh;
    margin-left: .5vw;
    margin-bottom: -.5vh;
}
.security-input::placeholder{
    color: rgba(255, 255, 255, .7);
}
.circle {
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background-color: black;
    position: fixed; 
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999999; /* so that it stays on top of all other elements */
  }